@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display:wght@900&display=swap");
$orange: #f75c49;
$hover-orange: #c41919;
$light-pink: #f99589;
$dark-gray: #222;
$blue: #548eaa;
$hover-blue: #235a76;
$shadow-color: #999;
$black: #000;
$white: #fff;
$gold: #ffd700;
$font-stack: pt sans, segoe ui, arial, sans-serif;

@mixin flex {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

h1 {
  font-family: Playfair Display $black, Bodoni MT, Georgia, Cambria, serif;
  text-align: left;
  font-size: 35px;
  font-weight: 900;
  color: $white;
  text-shadow: -1px -2px $orange, 1px 2px $black;
  letter-spacing: 1px;
  transition: 0.3ms;

  &:hover {
    text-shadow: -1.7px -2px $orange, 1.7px 2px $black;
    color: $white;
  }
}

header {
  padding: 3% 8.3%;
}

#top-search {
  // @include flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.nav {
  @include flex;

  flex-wrap: wrap;
}

#nav-header {
  @include flex;

  flex-wrap: wrap;
  width: 50%;
  min-width: 270px;
  max-width: 400px;
  font-size: 120%;
  margin: {
    top: 3%;
    bottom: 2%;
  }
}

.add-button {
  float: right;
  color: $orange;
  background-color: $white;
  border: 1px solid;
  border-color: $orange;
  text-align: center;
  text-decoration: none;
  font: bold 17px PT Sans, Segoe UI, Arial, sans-serif;
  padding: 3px;
  width: 170px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;

  &:hover {
    background-color: $orange;
    color: $white;
    border-color: $orange;
  }
}

#search-input {
  margin-right: 20px;
  width: 60%;
  height: 30px;
  padding-left: 8px;
}

#search-button {
  color: $orange;
  background-color: $white;
  border: 1px solid;
  border-color: $orange;
  text-align: center;
  text-decoration: none;
  margin-top: 10%;
  margin-bottom: 10%;
  font: bold 11px PT Sans, Segoe UI, Arial, sans-serif;
  width: 90px;
  height: 30px;
  cursor: pointer;

  &:hover {
    background-color: $orange;
    color: $white;
    border-color: $orange;
  }
}

.nav-links {
  a {
    text-decoration: none;
    color: $orange;

    &:hover {
      color: $hover-orange;
    }
  }
}

hr {
  width: 50%;
  margin: auto;
  border-top: 1px solid $dark-gray;
  margin-bottom: 2%;
}

#top-teachers-filter {
  @include flex;

  width: 400px;
  margin-bottom: 20px;
}

.comp-card {
  display: flex;
  flex-direction: column;
  position: relative;

  i {
    color: $gold;
    position: absolute;
    white-space: nowrap;
    font-size: 85%;
    right: 30px;

    &:hover {
      color: $gold;
    }
  }
}

.top-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);

  img {
    width: 60%;
    border-radius: 50%;
    border: 3px solid;
    border-color: $light-pink;
    margin-bottom: 4%;
    transition: 0.6s ease;

    &:hover {
      border-color: $orange;
      cursor: pointer;
      transition: 0.6s;
      transform: scale(1.05);
      transition-timing-function: ease;
    }
  }
}

#teacher-info {
  margin-right: auto;
  display: grid;
  grid-template-areas:
    "link link link"
    "header header header"
    "photo description star"
    "lorem lorem lorem"
    "map map map";
  grid-template-rows: 1% 7% 50% 8% 2%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 0% 8%;
  font-size: 90%;

  #info-header {
    font-size: 180%;
    grid-area: header;
  }

  #info-photo {
    grid-area: photo;
  }

  #info-lorem {
    grid-area: lorem;
    text-align: left;
    font-size: 90%;
  }

  .map-info {
    grid-area: map;
    height: 2%;
  }

  #map {
    border: none;
    margin-top: 3%;
    font-size: 90%;
    color: $blue;
    text-decoration: underline 1px dashed $blue;
    text-align: left;
  }

  .google-map {
    width: 100%;
  }

  img {
    width: 200px;
  }

  .close {
    grid-area: link;
  }

  i {
    margin-top: 12px;
    color: $gold;
    grid-area: star;
    font-size: 130%;
  }

  .description {
    margin-bottom: 3%;
    font-size: 90%;
  }

  #name {
    font-size: 200%;
    margin-bottom: 15%;
  }

  #country #age-gender {
    font-size: 200%;
  }

  #info-description {
    text-align: left;
    grid-area: description;
    height: auto;

    .description {
      margin-bottom: 5%;
    }
  }

  #mail {
    color: $blue;
  }
}

// #top-teachers {
//   margin: 3% 8.3%;
//   z-index: 3;

//   img {
//     width: 60%;
//     border-radius: 50%;
//     border: 3px solid;
//     border-color: $light-pink;
//     margin-bottom: 4%;
//     transition: 0.6s ease;
//   }
// }

#carousel-fav-list {
  @include flex;

  margin: auto;
  margin-bottom: 2%;
  overflow: auto;
  padding: 2% 2% 2% 2%;

  i {
    color: $dark-gray;
    font-size: 5rem;
    cursor: pointer;

    &:hover {
      color: $black;
    }
  }

  img {
    width: 65%;
    border-radius: 50%;
    border: 3px solid;
    border-color: $light-pink;
    margin-bottom: 4%;

    &:hover {
      border-color: $orange;
      cursor: pointer;
      transition: 0.6s;
      transform: scale(1.05);
      transition-timing-function: ease;
    }
  }
}

#top-teachers {
  margin: 3% 8.3%;
  z-index: 3;
}

h2 {
  text-decoration: none;
  font: 23px PT Sans, Segoe UI, Arial, sans-serif;
  color: $dark-gray;
  margin-bottom: 2%;
}

.filter-items {
  color: $shadow-color;

  &:hover {
    color: $dark-gray;
  }
}

#photo-filter {
  padding-right: 4%;
  margin-right: auto;
  border-right: 2px dotted $shadow-color;
}

.name {
  font-size: 110%;
  margin: auto;
  margin-bottom: 4%;
  padding: auto;
  width: 30%;
}

.country {
  font-size: 75%;
  color: $dark-gray;
  margin-top: 5%;
  margin-bottom: 5%;
}

#statistics {
  margin: 3% 8.3%;
}

table {
  width: 100%;
  margin-bottom: 2%;
  border-collapse: separate;
}

th {
  font-weight: normal;
  padding: 10px 15px;
  border-bottom: 1px solid $dark-gray;
  font-size: 100%;

  &:hover {
    border-bottom: 3px solid $dark-gray;
    padding: 8px 15px;
  }
}

td {
  color: $dark-gray;
  border-top: 1px solid $white;
  padding: 10px 15px;
  font-size: 85%;
}

tr:nth-child(2n) {
  background: #f9f5f9;
}

#table-pages {
  display: flex;
  width: 150px;
  justify-content: space-around;
  align-items: flex-start;
  color: $blue;

  .table-page {
    &:hover {
      color: $dark-gray;
      cursor: pointer;
    }
  }
}

#nav-footer-links {
  a {
    text-decoration: none;
    color: $blue;

    &:hover {
      cursor: pointer;
      color: $hover-blue;
    }
  }

  @include flex;

  flex-wrap: wrap;
  width: 50%;
  min-width: 270px;
  max-width: 400px;
  font-size: 120%;
  margin: {
    top: 3%;
    bottom: 2%;
  }
}

.first-col {
  text-align: left;
}

footer {
  padding: 3% 8.3%;
}

.lorem {
  p {
    text-align: left;
    color: $dark-gray;
    margin-bottom: 2%;
  }
}

#nav-footer {
  @include flex;

  flex-wrap: wrap;
}

body {
  margin: 0 8.3%;
  box-shadow: 8px 0 15px -4px $shadow-color, -8px 0 15px -4px $shadow-color;
}

#first-filter-item {
  width: 180px;
}

#add-popup {
  width: 100%;
  height: 2000px;
  backdrop-filter: blur(5px);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 1;
  opacity: 0;

  &:target {
    visibility: visible;
    opacity: 1;
  }
}

#add-popup #add-popup-content {
  margin: 40px auto 0 auto;
  min-width: 300px;
  max-width: 480px;
  width: 50%;
  height: auto;
  padding: 10px;
  background-color: $white;
  overflow: auto;
  position: relative;
  box-shadow: 2px 3px 5px $shadow-color, -1px -2px 2px $shadow-color;

  a {
    position: absolute;
    right: 7px;
    top: 19px;
    margin-right: 2%;
    color: $black;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: $hover-orange;
    }
  }
}

#add-teacher-info {
  h2 {
    margin-top: 8%;
    margin-bottom: 8%;
    font: 150% PT Sans, Segoe UI, Arial, sans-serif;
  }

  color: $dark-gray;

  input {
    margin: 2% 15%;
  }

  display: flex;
  flex-direction: column;

  label {
    margin: 3% 15% 0;
    text-align: left;
    font-size: 90%;
  }

  #gender {
    @include flex;

    margin: 3% 15% 3% 3%;
  }

  #gender-check {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    width: 25px;
  }

  #color-section {
    @include flex;

    margin: 3% 15% 3% 3%;

    input {
      margin-right: 0;
      margin-left: 0;
    }

    img {
      margin-right: 0;
    }
  }

  #add-button-pop {
    color: $orange;
    background-color: $white;
    border: 1px solid;
    border-color: $orange;
    text-align: center;
    text-decoration: none;
    font: bold 150% PT Sans, Segoe UI, Arial, sans-serif;
    padding: 3px;
    height: 50px;
    width: auto;
    margin: 4% 15%;
    cursor: pointer;

    &:hover {
      background-color: $orange;
      color: $white;
      border-color: $orange;
    }
  }

  .input-add-teacher {
    height: 30px;
  }

  #color-label {
    margin-right: 0;
    padding-right: 0;
  }

  #color-pct {
    width: 15px;
    margin-right: 1%;
  }

  #color-platte {
    @include flex;
  }
}

#teacher-popup {
  width: 100%;
  height: 2000px;
  z-index: 2;
  backdrop-filter: blur(5px);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;

  &:target {
    visibility: visible;
    opacity: 1;
  }
}

#teacher-content {
  color: $dark-gray;
  background-color: $white;
  text-decoration: none;
  font: 100% PT Sans, Segoe UI, Arial, sans-serif;
  padding: 0 15px;
  height: auto;
  width: auto;
  margin: 5% 5%;
  cursor: pointer;
}

#teacher-popup #teacher-content {
  background-color: $white;
  margin: 100px auto;
  max-width: 600px;
  overflow: auto;
  position: relative;
  box-shadow: 2px 3px 5px $shadow-color, -1px -2px 2px $shadow-color;

  .close {
    position: absolute;
    right: 7px;
    top: 19px;
    margin-right: 2%;
    color: $black;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: $hover-orange;
    }
  }
}

@media only screen and (max-width: 768px) {
  main {
    width: 100%;
  }

  h1 {
    margin: 5% auto;
  }

  #nav-header {
    width: 100%;
  }

  .add-button {
    float: none;
    margin: 5% auto;
  }

  .nav {
    justify-content: center;
  }

  form {
    #search-input {
      width: 100%;
      padding: auto;
    }
  }

  #top-search {
    display: flex;
    flex-direction: column;
  }

  #search-button {
    margin-top: 3%;
    margin-left: 60%;
  }

  #top-teachers-filter {
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: flex-start;
  }

  .top-list-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;

    i {
      font-size: 130%;
      right: 20%;
    }
  }

  #statistics {
    overflow: scroll;
  }

  .comp-card {
    display: flex;
    flex-direction: column;
    position: relative;

    i {
      color: $gold;
      position: absolute;
      white-space: nowrap;
      font-size: 85%;
      right: 30px;

      &:hover {
        color: $gold;
      }
    }
  }

  #carousel-fav-list {
    overflow: scroll;
    margin: auto;

    img {
      width: 50px;
      margin: auto;
    }

    font-size: 10px;
  }

  body {
    box-shadow: unset;
    width: 100%;
    margin: 5%;
  }

  #add-teacher-info {
    input {
      width: 65%;
      margin-top: 1%;
    }
  }
}
